body, p, h1, h2, textarea{
    margin: 0;
    font-family: Roboto;
}

body{
    background-color:#292b35;
}

h1, h2{
    font-size: 30px;
    color: white;
}

#navbar{
    background-color: #394466;
    color: white;
    padding: 0 15px;
    height: 60px;
    border-bottom: 1px solid white;
}

#navbar h2, #navbar ul, #navbar-list li, #navebar nav{
    display: inline-block;
}

#navbar h2{
    margin: 0;
    line-height: 60px;
    margin-left: 90px;
}

#navbar nav{
    float: right;
}

#navbar li{
    margin: 0 10px;

}

#navbar ul{
    margin-top: 22px;

}

#navbar-list li a{
   text-decoration: none;
   color: white;
}

#navbar-list li a:hover{
    border-bottom: 1px solid white;
 }

#main-banner{
    height: 60vh;
    background-image: url("assets/banner.png");
    background-size: cover;
    padding-top: 15vh;
}

#banner-info{
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    color: white;
}

#banner-info img{
    height: 220px;
    border-radius: 50%;
    background-color: #394466;
    margin-top: 30px;
    margin-bottom: 30px;
}

#banner-info p{
    background-color: #394466;
    font-weight: bold;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    padding: 18px;
}

#about-section{
    text-align: center;
    background-color: #394466;
    color: white;
    padding-top: 50px;
    height: 400px;
}

#about-section h2{
   margin-bottom: 20px;
}

#about-section p{
    max-width: 650px;
    margin-right: auto;
    margin-left: auto;
    line-height: 30px;
 }

#skills-section{
    margin-top: -100px;
    background-color: rgba(236, 247, 252, 0.795);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #394466;
    border-radius: 10px;
}

#skills-section .container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.skills-container{
    width: 30%;
    flex: 1 1 1;
    text-align: center;
    padding: 60px 25px;
}

.skills-container h3{
    color: #394466;
    font-size: 20px;
}

.skills-container img{
    height: 60px;
    padding: 15px;
    margin-bottom: 25px;
    border-top: 1px solid #394466;
    border-left: 1px solid #394466;
    border-bottom: 4px solid #394466;
    border-right: 4px solid #394466;
    border-radius: 50%;
}

.skills-container .subtitle{
    font-weight: bold;
    color: #394466;
    margin-top: 50px;
    margin-bottom: 15px;
}

.skills-container .subtitle{
    line-height: 25px;
}

.logo-header{
    width: 60px;
    position: absolute;
    
}

#jobs-section{
    text-align: center;
}

#jobs-section h2{
    color:white;
    margin-bottom: 50px;
    margin-top: 80px;
}

#jobs-section p{
    margin-bottom: 50px;
}

#jobs-section a{
    font-weight: bold;
}

.jobs-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 50px;
}

.job-box{
    margin-left: 25px;
    margin-right: 25px;
    border-bottom: 4px solid #394466;
    border-right: 4px solid #394466;
}

.card img{
    margin-top: 10px;
    width: 100px;
    border-radius: 10px;
    border-bottom: 4px solid #394466;
    border-right: 4px solid #394466;
}

.card {
    border-radius: 10px;
    border-bottom: 4px solid #394466;
    border-right: 4px solid #394466;
    transition: 0.3s;
    height: 350px;
    width: 250px;
    background-color: rgba(236, 247, 252, 0.795);
  }

  .container-card{
        padding: 2px 16px;
    }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

footer{
    padding: 40px;
    background-color: rgba(236, 247, 252, 0.795);
    text-align: center;
}

footer p{
    font-weight: bold;
    margin-bottom: 25px;
}

footer h2{
    font-weight: bold;
    color: #394466;
    margin-bottom: 25px;
}

.footer-icon{
    width: 60px;
    margin-left: 10px;
    text-decoration: none;
    border-bottom: 4px solid #394466;
    border-right: 4px solid #394466;
    border-radius: 50%;
    
}
